<p id="notice"><%= notice %></p>

<p>
  <b>What:</b>
  <%= @event.what %>
</p>

<p>
  <b>When:</b>
  <%= @event.when %>
</p>

<p>
  <b>Where:</b>
  <%= @event.where %>
</p>
<p>
	<b>Who:</b>
	<%= @organization.description %>
</p>
<p>
	<b>Image:</b>
	<%= @event.image.url %>
	<%= image_tag @event.image.url %>
	<%= image_tag @event.image.url(:medium) %>
	<%= image_tag @event.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
