<div id="user_nav">  
  <% if user_signed_in? %>  
    Signed in as <%= current_user.email %>. Not you?  
    <%= link_to "Sign out", destroy_user_session_path %>  
  <% else %>  
    <%= link_to "Sign up", new_user_registration_path %> or  
    <%= link_to "Sign in", new_user_session_path %>  
  <% end %>  
</div> 
<div>
	<h1>Welcome to USJ-R's Android Bulletin-Board</h1>  
</div>
<div>
	There are
	<%= @events.size %>
	events!
</div>
<div>
	<h2><b><font color="RED">Headlines!</font></b></h2>
	<h3>Tito Paul's Birthday!</h3>
	<h3><%= link_to("Happy Birthday Song!", "http://www.youtube.com/watch?v=FWbRuUE5E9M")%></h3>
</div>
