<div id="welcome">
	<h1>Welcome to USJ-R's Android Bulletin-Board</h1>  
</div>
<div id="events_counter">
	There are <%= @events.size %> event(s) and <%= @announcements.size %> announcement(s) this week!
</div>
<section id="events">
	<h2>Events</h2>
	<table>
		<tr>
			<td> </td>
			<td>What?</td>
			<td>When?</td>
			<td>Where?</td>
		</tr>
		<% @events.each do |e| %>
			<tr>
				<td><%= image_tag e.image.url(:thumb) %></td>
				<td><%= e.what %></td>
				<td><%= 
					if(e.when == @today)
						"Today"
					else
						(time_ago_in_words(e.when) + " ago") 
					end
				%></td>
				<td><%= e.where%></td>
				<% if user_signed_in? %>
					<td><%= link_to 'View', {:controller => 'events',
						:action => 'show' , :id => e.id }%></td>
				<% end %>
			</tr>
		<% end %>
	</table>
</section>

<section id="announcements">
	<h2>Announcements</h2>
	<table>
		<tr>
			<td> </td>
		</tr>
		<% @announcements.each do |a| %>
		<tr>
			<td><%= a.title %></td>	
			<td><% if user_signed_in? %>
			<td><%= link_to 'View', {:controller => 'announcements',
				:action => 'show' , :id => a.id }%></td>
					<% end %>
		</tr>
		<% end %>
	</table>
</section>
